APP_ENV=production
APP_DEBUG=false
APP_URL=https://example.com

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SYSTEM_TOOLS_PRODUCTION_DB_HOST=
SYSTEM_TOOLS_PRODUCTION_DB_PORT=3306
SYSTEM_TOOLS_PRODUCTION_DB_DATABASE=
SYSTEM_TOOLS_PRODUCTION_DB_USERNAME=
SYSTEM_TOOLS_PRODUCTION_DB_PASSWORD=

SYSTEM_TOOLS_SANDBOX_DB_HOST=127.0.0.1
SYSTEM_TOOLS_SANDBOX_DB_PORT=3306
SYSTEM_TOOLS_SANDBOX_DB_DATABASE=
SYSTEM_TOOLS_SANDBOX_DB_USERNAME=root
SYSTEM_TOOLS_SANDBOX_DB_PASSWORD=
